.container {
  background-image: url("~@/assets/restovue.webp");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

header {
  padding: 20px;
  text-align: right;
}

.menu-button {
  background-color: transparent;
  border: none;
  color: black;
  font-size: 18px;
  cursor: pointer;
  font-weight: 700;
}

.ingresar-button {
  background-color: transparent;
  border: none;
  color: black;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  justify-content: flex-start
}

.ingresar-button:hover {
  color: red;
}

.menu-button:hover {
  color: red;
}

main {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  height: calc(100vh - 100px);
}

h1 {
  color: white;
  font-size: 60px;
  text-align: center;
  padding-top: 0;
}

footer {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: white;
  text-align: center;
}

.titulo {
  color: red;
  font-size: 62px;
  font-family: cursive;
  text-align: center;
}

/* .resto {
  color: black;
  font-size: 7rem;
  border-style: ridge;
  border-color: red;
} */

/* .pedido {
  color: black;
  font-weight: 700;
  font-style: oblique;
  background-color: red;
} */

/* .nombre {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

/* body {
  margin: 0;
  padding: 0;
  background-color: #262626;
} */

ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* margin: 0;
  padding: 0; */
  display: flex;
}

.restovue {
  margin: 0;
  padding: 0;

}

.pedidos {
  margin: 8rem;
  margin-left: 4rem;

}

ul li {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 7rem;
  letter-spacing: 20px;
  text-shadow: none;
  animation: animate 1s infinite linear;

}

@keyframes animate {
  0% {
    color: black;
    text-shadow: none;
  }

  18% {
    color: black;
    text-shadow: none;
  }

  20% {
    color: red;
    text-shadow: 0 0 7px #fff900, 0 0 20px #ff6c00;
  }

  30% {
    color: black;
    text-shadow: none;
  }

  35% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900, 0 0 20px #ff6c00;
  }

  70% {
    color: black;
    text-shadow: none;
  }

  85% {
    color: red;
    text-shadow: 0 0 7px #fff900, 0 0 20px #ff6c00;
  }

  90% {
    color: black;
    text-shadow: none;
  }

  100% {
    color: black;
    text-shadow: none;
  }
}

ul li:nth-child(1) {
  animation-delay: .2s;
}

ul li:nth-child(2) {
  animation-delay: .4s;
}

ul li:nth-child(3) {
  animation-delay: .6s;
}

ul li:nth-child(4) {
  animation-delay: .8s;
}

ul li:nth-child(5) {
  animation-delay: 1s;
}

ul li:nth-child(6) {
  animation-delay: 1.2s;
}

ul li:nth-child(7) {
  animation-delay: 1.4s;
}